body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.allCont{
  width: 960px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 30px auto;
}

/* Form */

.inpCont{
  display: flex;
  margin-top: 20px;
}
.btnAdd{
  border: 2px solid #04ab6b;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 3px;
  box-sizing: border-box;
  transition: all .3s;
  margin: 0px 0px 0px 25px;
  opacity: 1;
}
.btnAddHid{
  border: 2px solid #04ab6b;
  width: 0px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 3px;
  box-sizing: border-box;
  transition: all .3s;
  margin: 0px 0px 0px 25px;
  opacity: 0;
  background: #04ab6b;
}
.btnAddHid span{
  color: transparent;
}
.btnAddHid .iAdd{
  display: none;
}
.addUserForm{
  display: none;
  opacity: 0;
  transition: all .5s;
}
.addUserFormActive{
  display: block;
  opacity: 1;
  transition: all .5s;
  animation: show 1s;
}
.btnAdd:hover{
  background: #04ab6b;
  cursor: pointer;
}
.btnAdd .iAdd{
  color: #04ab6b;
  font-size: 20px;
  margin-right: 8px;
}
.btnAdd:hover .iAdd{
  color: #fff;
}
.btnAdd span{
  font-size: 16px;
  font-weight: 700;
  color: #04ab6b;
}
.btnAdd:hover span{
  color: #fff;
}
form input[type="text"]{
  width: 250px;
  border: 1px solid #ccc;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 0px 10px 0px 0px;
}
form input[type="text"]::placeholder { 
  color: rgba(75, 75, 75, 0.274);
  opacity: 1;
}
form input[type="submit"]{
  width: 150px;
  color: #fff;
  background: #04ab6b;
  border: none;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 3px;
}
.errorCont{
  display: flex;
  height: 40px;
  display: none;
}
.errorCont .alertICont{
  border: 2px solid #f00;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  margin: 9px 8px 11px 30px;
}
.errorCont span{
  color: #000;
  font-weight: 700;
  line-height: 45px;
  font-size: 14px;
}
.errorCont .alertICont span{
  color: #f00;
  font-size: 17px;
  line-height: 20px;
  padding-left: 1px;
  font-weight: 700;
}

/* Title */
.resetBtn{
  color: #f00;
  text-decoration: underline;
  margin-left: 15px;
  font-size: 14px;
  display: none;
}
.resetBtn:hover{
  cursor: pointer;
}
.titleCont{
  height: 30px;
  background: #f4f5f7;
  margin-top: 20px;
  display: flex;
  line-height: 30px;
}
.listCol span{
  padding-left: 25px;
}
.listCol:nth-child(1){
  width: 20%;
}
.listCol:nth-child(2){
  width: 30%;
}
.listCol:nth-child(3){
  width: 30%;
}
.listCol:nth-child(4){
  width: 20%;
  text-align: right;
}
.listCol:nth-child(4) button{
  margin-right: 25px;
  background: transparent;
  border: none;
  color: #ccc;
}
.listCol:nth-child(4) button:hover{
  cursor: pointer;
}
.listCol h4{
  color: #646c73;
  text-transform: uppercase;
  margin: 0px;
  text-align: left;
  padding-left: 25px;
  font-size: 14px;   
}
.listCol h4:hover{
  cursor: pointer;
  color: #000;
}

/* List Users */
.accList{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.accSingle{
  height: 50px;
  line-height: 50px;
  display: flex;
  text-align: left;
}
.accSingle:nth-child(even){
  background: #fbfcfc;
}
.nrCont{
  border: 1px solid #ccc;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  margin: 15px 0px 15px 25px;
  text-align: center;
}
.nrCont p{
  margin: 0px;
  padding: 0px 0px 0px 0px;
  font-size: 13px;
  height: 19px;
  width: 19px;
  color: #646c73;
  line-height: 20px;
}


@keyframes show{
  0%{
    opacity: 0;
  }
  30%{
    opacity: .4;
  }
  100%{
    opacity: 1;
  }
}
